body{
    background-color: #ff7f81;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw; 
}

canvas{
    border: 4px solid #d0deb8;
    border-radius: 8px;
    background-color: #ffa492;
}

.btns{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

button{
    background-color: #fff4ce;
    border-radius: 10px;
    border-color: #d0deb8;
    margin: 0;
    padding: 5px 20px; 
    width: 100px;
}

button:not(:last-child){
    margin-left: 10px;
}

.messages{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 460px;
}

@media (max-width: 440px){
    button { margin-top:25px;}
    #up, #down {margin-left: 100%; margin-right: 100%;}

}

